In [10]:
import numpy as np
import pandas as pd

In [2]:
captions = np.load('COCO_73k_annots_curated.npy')

In [3]:
captions.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [4]:
captions.shape

(73000, 5)

In [5]:
captions[0]

array(["A person kitesurfing over the waves of the ocean's shore.", '',
       'A man is flying up in the air and having fun. ',
       'A guy is waterboarding in the ocean on a windy day.', ''],
      dtype='<U250')

In [6]:
captions.view

In [7]:
captions[1]

array(['',
       'A cat sitting on the edge of the toilet looking toward the open bathroom door.',
       '', '', ''], dtype='<U250')

In [8]:
captions[10]

array(['', '', '', '',
       'A clock is seen at the top of a very tall building.'],
      dtype='<U250')

In [15]:
df=pd.DataFrame(data=captions[0:,0:],
            index=[i for i in range(captions.shape[0])],
            columns=['s'+str(i+1) for i in range(captions.shape[1])])

In [24]:
df.head(10)

,s1,s2,s3,s4,s5
0,A person kitesurfing over the waves of the oce...,,A man is flying up in the air and having fun.,A guy is waterboarding in the ocean on a windy...,
1,,A cat sitting on the edge of the toilet lookin...,,,
2,A person cutting a pizza next to a salad and b...,A hand is slicing a pizza on a table.,,,"A slice of pizza, greens, two wine glasses wit..."
3,,,A pepsi soda on the table with a tray of bread...,,
4,A man who is walking across the street.,A busy intersection with an ice cream truck dr...,,,
5,A giraffe stands near a tree in the wilderness.,,,Head and neck of a giraffe in natural feeding ...,A giraffe walking near a tree with very few le...
6,,,a black and white picture of tow baseball play...,,Two old time baseball players talk to a man.
7,,A bird that is sitting down on some water.,,A bird standing next to a large body of water.,A tall white bird standing on a lake in a swamp.
8,Two men talking to each other on a street corn...,,,,
9,,,,,A woman hits a tennis ball with some kids.

In [17]:
df.isnull()

          s1     s2     s3     s4     s5
0      False  False  False  False  False
1      False  False  False  False  False
2      False  False  False  False  False
3      False  False  False  False  False
4      False  False  False  False  False
...      ...    ...    ...    ...    ...
72995  False  False  False  False  False
72996  False  False  False  False  False
72997  False  False  False  False  False
72998  False  False  False  False  False
72999  False  False  False  False  False

[73000 rows x 5 columns]

In [23]:
df.isnull().value_counts

<bound method DataFrame.value_counts of           s1     s2     s3     s4     s5
0      False  False  False  False  False
1      False  False  False  False  False
2      False  False  False  False  False
3      False  False  False  False  False
4      False  False  False  False  False
...      ...    ...    ...    ...    ...
72995  False  False  False  False  False
72996  False  False  False  False  False
72997  False  False  False  False  False
72998  False  False  False  False  False
72999  False  False  False  False  False

[73000 rows x 5 columns]>